#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}
*{
  padding: 0;
  margin: 0;
}

.data{
  background-color: aqua;
  border: 2px solid rgb(255, 154, 47);
}